
<ion-view cache-view='false' id="brothersPage">

	<ion-content scroll="true" overflow-scroll="true">

		<div ng-if="hasPost">
			<div id="post_{{ list.post_id }}" ng-click="cardSwiped()" lazy-scroll>
				<div class="midia-post">

					<div ng-if="list.post_stamp != 0" style="position: absolute;right:15px;top: 15px;">
			      		<img ng-src="{{'http://bastidor.com.br/vibesetal/content/'+list.post_stamp}}" class='eduardinho' / >
			      	</div>

				    <img ng-if="list.post_type == 'video' " ng-src="{{list.videoImage}}" class='eduardinho' ng-click="openVideoPlayer(list.post_file, list.post_id)" / >

				    <img ng-if=" list.post_type == 'image' " ng-src="{{'http://bastidor.com.br/vibesetal/content/'+list.post_file}}" class='eduardinho' />

				    <div ng-if="list.post_type == 'vimeo'" style="{{ 'height:'+list.post_height+'px; width:100%; position:relative;' }}">
				    	<div style="position: absolute; top:0px; right:0px; left:0px; bottom:75px;" ng-click="cardSwiped()"></div>
				    	<iframe data-tap-disabled="true" height="{{ list.post_height }}" ng-src="{{'https://player.vimeo.com/video/'+list.post_file+'?portrait=0&title=0&byline=0&badge=0&autoplay=1&loop=1'}}" class='eduardinho' frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				    </div>

				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-dark" id="post_option_{{ list.post_id }}">
		<div class="row">
		    <div class="col col-33">
		        <button class="button button-block button-royal btn_like" ng-if="!list.liked" ng-click="likePost('{{list.post_id}}')">
		            <i class="fa fa-diamond"></i> <span>{{list.likes}}</span>
		        </button>
		        <button class="button button-block button-positive btn_like" ng-if="list.liked"><i class="fa fa-diamond"></i> {{list.likes}} </button>
		    </div>

		    <div class="col col-33">
		        <button class="button button-block button-royal btn_comment" ng-click="commentPost('{{list.post_id}}')">
		            <i class="fa fa-comment"></i> <span>{{list.comments}}</span>
		        </button>
		    </div>

		    <div class="col col-33">
		        <button class="button button-block button-royal btn_share" ng-click='share()'>
		            <i class="fa fa-share"></i> <span>{{list.share}}</span>
		        </button>
		    </div>

		</div>
	</div>
</ion-view>
