<ion-modal-view id="login" class="comentario">
  <ion-header-bar class="bar-vibe">
    <div class="title header-item"><img src='img/topo.png'></div>
    <button ng-click="closeComment()" class="button button-stable icon-left  ion-ios-arrow-down">
    </button>
  </ion-header-bar>
  <ion-content id="login" delegate-handle="commentMain">

	<ion-list class="comment-desc">

	    <ion-item class="list">
			<div class="item item-avatar">
				<img src="{{ post[0].user_image }}">
				<h2>{{ post[0].user_name }}</h2>
				<p>{{ post[0].post_time }}</p>
			</div>
			<div ng-if="post[0].post_description != ''" class="item-body">
			    <p ng-bind-html="post[0].post_description">
			    </p>
		    </div>
		</ion-item>

		<ion-item class="list" ng-repeat="item in comment_post">
		    <div class="item item-avatar" ng-if="item.comment_user_id == User.user_id" on-hold="commentContextual()">
		      <img src="{{ item.user_image }}">
		      <p class="pull-right">{{ item.comment_date }}</p>
		      <h2>{{ item.user_name }}</h2>
		      <p>{{ item.comment_text }}</p>
		    </div>
		    <div class="item item-avatar" ng-if="item.comment_user_id != User.user_id">
		      <img src="{{ item.user_image }}">
		      <p class="pull-right">{{ item.comment_date }}</p>
		      <h2>{{ item.user_name }}</h2>
		      <p>{{ item.comment_text }}</p>
		    </div>
	    </ion-item>

    </ion-list>
	<ion-infinite-scroll ng-if="noMoreCommentsAvailable" immediate-check="false" on-infinite="loadMoreComment(post[0].post_id)" distance="1%"></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar align-title="left" class="item item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-ios7-search placeholder-icon"></i>
		<input type="text" ng-model="fields.insertComment" ng-enter="saveComment(post[0].post_id)" placeholder="Comentário">
	</label>
	<button class="button button-small button-balanced" ng-click="saveComment(post[0].post_id)">
		Enviar
	</button>
</ion-footer-bar>
</ion-modal-view>
