<ion-view view-title="<img src='img/topo.png'>" id="enquete" class="internas">
	<ion-content has-boucing="false">

		<div class="list">
			<div class="midia-post">

				<h4 ng-bind-html="enq.enquete_pergunta"></h4>
				<img ng-src="{{'http://bastidor.com.br/vibesetal/content/'+enq.enquete_image}}" class='eduardinho' />
				<div  ng-if="enq.resp_text == null">


					<ion-radio-fix ng-model="fields.enquete" ng-value="{{ enq.enquete_opt1 }}" value="{{ enq.enquete_opt1 }}">
						{{ enq.enquete_opt1 }}
					</ion-radio-fix>
					<ion-radio-fix ng-model="fields.enquete" ng-value="{{ enq.enquete_opt2 }}" value="{{ enq.enquete_opt2 }}">
						{{ enq.enquete_opt2 }}
					</ion-radio-fix>
					<ion-radio-fix ng-model="fields.enquete" ng-value="{{ enq.enquete_opt3 }}" value="{{ enq.enquete_opt3 }}">
						{{ enq.enquete_opt3 }}
					</ion-radio-fix>
					<ion-radio-fix ng-model="fields.enquete" ng-value="{{ enq.enquete_opt4 }}" value="{{ enq.enquete_opt4 }}">
						{{ enq.enquete_opt4 }}
					</ion-radio-fix>
					<ion-radio-fix ng-model="fields.enquete" ng-value="{{ enq.enquete_opt5 }}" value="{{ enq.enquete_opt5 }}">
						{{ enq.enquete_opt5 }}
					</ion-radio-fix>

					<button class="button button-full button-positive" ng-click="voteEnq()">
						Votar
					</button>
				</div>

				<div  ng-if="enq.resp_text != null">

					<label class="item item-radio">
					    <div class="item-content" ng-class=" enq.resp_text == enq.enquete_opt1 ? 'enq-selected' : '' " ng-bind-html="enq.enquete_opt1">
					    </div>
					    <div ng-if="enq.resp_text == enq.enquete_opt1">
					    <i class="radio-icon ion-checkmark" style="visibility:visible"></i>
					    </div>
					  </label>

					<label class="item item-radio">
					    <div class="item-content" ng-class=" enq.resp_text == enq.enquete_opt2 ? 'enq-selected' : '' " ng-bind-html="enq.enquete_opt2">
					    </div>
					    <div ng-if="enq.resp_text == enq.enquete_opt2">
					    <i class="radio-icon ion-checkmark" style="visibility:visible"></i>
					    </div>
					  </label>

					<label class="item item-radio">
					    <div class="item-content" ng-class=" enq.resp_text == enq.enquete_opt3 ? 'enq-selected' : '' " ng-bind-html="enq.enquete_opt3">
					    </div>
					    <div ng-if="enq.resp_text == enq.enquete_opt3">
					    <i class="radio-icon ion-checkmark" style="visibility:visible"></i>
					    </div>
					  </label>

					<label class="item item-radio">
					    <div class="item-content" ng-class=" enq.resp_text == enq.enquete_opt4 ? 'enq-selected' : '' " ng-bind-html="enq.enquete_opt4">
					    </div>
					    <div ng-if="enq.resp_text == enq.enquete_opt4">
					    <i class="radio-icon ion-checkmark" style="visibility:visible"></i>
					    </div>
					  </label>

					<label class="item item-radio">
					    <div class="item-content" ng-class=" enq.resp_text == enq.enquete_opt5 ? 'enq-selected' : '' " ng-bind-html="enq.enquete_opt5">
					    </div>
					    <div ng-if="enq.resp_text == enq.enquete_opt5">
					    <i class="radio-icon ion-checkmark" style="visibility:visible"></i>
					    </div>
					  </label>

				</div>

			</div>


		</div>
	</ion-content>
</ion-view>
