<ion-view id="foto">
	
  <ion-content>
    <div>

        <img class="full-image" src="img/instagram2.jpg">
        <div class="controle-header">
        	<i class="icon ion-ios-close" ng-click="$ionicGoBack()"></i>
        </div> 
        <div class="controle-header f-right">
        	<i class="icon ion-ios-reverse-camera"></i> <i class="icon ion-ios-bolt"></i>
        </div>
    </div>
   
    
  </ion-content>

	    <div class="tabs tabs-icon-only controle-camera">
		  <a class="tab-item icon-small">
		    <i class="icon ion-images"></i>
		  </a>
		  <a class="tab-item icon-destaque" href="#/app/postar">
		    <i class="icon ion-camera"></i>
		  </a>
		  <a class="tab-item icon-small" href="#/app/video">
		    <i class="icon ion-videocamera"></i>
		  </a>
		</div>
</ion-view 
