<ion-view view-title="<img src='img/topo.png'>">

  <div class="bar bar-subheader" ng-if=" subheader!= ''">
    <progress max="100" value="{{uploadProgress}}"></progress>
  </div>

  <ion-content id="time-line" ng-class=" {{ User.user_adm == 1 ? 'has-footer': '' }} {{subheader}}">

    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="item in list">

      <div class="item item-avatar">
        <img ng-src="{{item.user_image}}">
        <h2>{{item.user_name}}</h2>
        <p>{{item.post_time}}</p>
      </div>

      <div>
        <video ng-if="item.post_type == 'video' " ng-src="{{item.post_file}}" class="centerme" controls="controls" style="width:100%"></video>

        <img ng-if=" item.post_type == 'image' " ng-src="{{'http://bastidor.com.br/vibesetal/content/'+item.post_file}}" class='eduardinho' />
      </div>

      <div class="descricao padding" ng-bind-html="item.post_description">
      </div>

      <div class="row">

        <div class="col col-33">
           <button class="button button-block button-royal" ng-if="!item.liked" ng-click="likePost('{{item.post_id}}')"><i class="fa fa-diamond"></i> {{item.likes}} </button>
           <button class="button button-block button-positive" ng-if="item.liked"><i class="fa fa-diamond"></i> {{item.likes}} </button>
        </div>

        <div class="col col-33">
           <button class="button button-block button-royal" ng-click="commentPost('{{item.post_id}}')"><i class="fa fa-comment"></i> {{item.comments}}</button>
        </div>

        <div class="col col-33">
          <button class="button button-block button-royal" ng-click='share("{{item.post_description}}","http://bastidor.com.br/vibesetal/content/{{item.post_file}}")'><i class="fa fa-share-square"></i> </button>
        </div>

      </div>

    </div>

    <ion-infinite-scroll
      icon="ion-loading-c"
      on-infinite="infinitescroll()">
    </ion-infinite-scroll>
  </ion-content>


  <div class="bar bar-footer footer-home" ng-if="User.user_adm == 1">
    <div class="tabs tabs-dark tabs-icon-only">
      <button class="tab-item button button-royal icon ion-ios-photos" ng-click="getRoll()">
        <i class="icon ion-home"></i>
      </button>
      <button class="tab-item button button-royal icon ion-ios-camera" ng-click="captureImage()">
        <i class="icon ion-star"></i>
      </button>
      <button class="tab-item button button-royal icon ion-ios-videocam" ng-click="captureVideo()">
        <i class="icon ion-gear-a"></i>
      </button>
      <button class="tab-item button button-royal icon ion-ios-film" ng-click="getVidRoll()">
        <i class="icon ion-gear-a"></i>
      </button>
    </div>
  </div>
</ion-view>
