<ion-modal-view id="login">
  <ion-header-bar class="bar-vibe">
    <div class="title header-item"><img src='img/topo.png'></div>
    <button ng-if="voltar" ng-click="closeLogin()" class="button button-stable icon-left ion-close-circled">
    </button>
  </ion-header-bar>
  <ion-content id="login">

    <div ng-if="!voltar">

      <div class="col">
        <div class="item-text-wrap">
          <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="doLogin()" type="submit">Entrar com Facebook</button>
        </div>
      </div>

    </div>

    <div ng-if="voltar">

      <div class="list">


        <div class="row">

           <div class="col col-center text-center">
              <img ng-src="http://graph.facebook.com/{{User.user_slug}}/picture?width=200&height=200" style="border-radius:50%;" on-hold="updateUser()">
           </div>
        </div>
        <div>
          <h2 class="text-center">{{User.user_name}}</h2>
        </div>

        <div class="row text-center">
          <div class="col">
            <h3>
              <i class="fa fa-diamond"></i> {{User.user_diamonds}}
            </h3>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
<ion-footer-bar class="bar-assertive" ng-if="voltar">
    <button class="button button-full button-assertive" ng-click="logout()">LOGOUT</button>
</ion-footer-bar>
</ion-modal-view>
