<ion-modal-view id="login">
  <ion-header-bar class="bar-vibe">
    <div class="title header-item"><img src='img/topo.png'></div>
    <button ng-if="voltar" ng-click="closeLogin()" class="button button-stable icon-left ion-chevron-left">
      Voltar
    </button>
  </ion-header-bar>
  <ion-content id="login">

    <div ng-if="!voltar">

      <div class="card col">
        <div class="item item-divider">
          Autenticação de usuário
        </div>
        <div class="item item-text-wrap">
          <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="doLogin()" type="submit">Entrar com Facebook</button>
        </div>
      </div>

    </div>

    <div ng-if="voltar">

      <div class="list card">

        <div class="item item-avatar">
          <img ng-src="{{User.user_image}}">
          <h2>{{User.user_name}}</h2>
        </div>

        <div class="row text-center">
          <div class="col-50">
            <i class="icon ion-android-star"></i>
            {{User.user_diamonds}}
          </div>
          <div class="col-50">
            <i class="icon ion-thumbsup"></i>
            {{User.user_diamonds}}
          </div>
        </div>

      </div>

    </div>

  </ion-content>
</ion-modal-view>
