<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">


      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="open-menu">
        </button>
      </ion-nav-buttons>

      <ion-nav-back-button class="button button-clear"> <i class="icon ion-ios-arrow-back" style="color:#892566;"></i></ion-nav-back-button>

      <ion-nav-buttons side="right">
          <div class="login-avatar">
              <img class="full-image" ng-click="login()" src="http://graph.facebook.com/{{User.user_slug}}/picture?width=40&height=40">
           </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="tab-menu">
    <ion-header-bar class="bar-stable">

    </ion-header-bar>
    <ion-content>
      <ion-list>
      	<ion-item>
          <img src="img/logo-vt.png">
        </ion-item>
      	<ion-item menu-close class="menu-item active" href="#/app/home">
          Linha do tempo
        </ion-item>
      	<ion-item menu-close class="menu-item" href="#/app/brothers">
          Brothers
        </ion-item>
      	<ion-item menu-close class="menu-item" href="#/app/enquetes">
          Enquetes
        </ion-item>
        <ion-item menu-close class="menu-item" href="#/app/TopPost">
          Top 10 Posts
        </ion-item>
        <ion-item menu-close class="menu-item" href="#/app/TopUsers">
          Top 10 Usuários
        </ion-item>
        <ion-item menu-close class="menu-item" href="#/app/sobre">
          Tem +
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

