<ion-view cache-view='false' view-title="<img src='img/topo.png'>" id="photo">
  <ion-content>
    <div class="list card">
    	<div class="col col-50 col-offset-25 col-center">
	        <video ng-if="image.type == 'video' " ng-src="{{image.data}}" class="centerme" controls="controls" style="width:100%"></video>
	        <img   ng-if="image.type == 'image' " ng-src="{{image.data}}" class='eduardinho'>
        </div>
    </div>
    <div class="list">
    	<label class="item item-input">
	    	<input type="text" ng-model="desc.str" placeholder="Descrição">
	  	</label>
	</div>
	<div class="padding">
		<button class="button button-block button-royal"  ng-click="addToList()" type="submit">Publicar</button>
		<a class="button button-block button-stable" href="#/app/home" type="submit">Cancelar</a>
	</div>

  </ion-content>
</ion-view>
