<ion-view id="postar" view-title="Publicar">
	
  <ion-content>
    

  <div class="list card">
  	
  	<div class="item item-body">

    	<img class="full-image" src="img/instagram2.jpg"> 

  		<div class="list">
		  <label class="item item-input item-floating-label">		    
		    <textarea type="text" placeholder="Legenda"></textarea>
		  </label>
  		</div>
  	</div>	

  </div> 
   

    
  </ion-content> 
<div class="bar bar-footer bar-balanced">
	<a href="#/app/home">
  		<button href="#/app/home" class="button button-clear button-block" style="margin-top: 0;">Publicar</button>
  </a>
</div>
	    
</ion-view 
