<ion-view view-title="<img src='img/topo.png'>" id="sobre" class="internas">
  <ion-content>
      <div class="item-sobre" >
          <div class="box-image">
              <img ng-src="img/ne.jpg" style="width:100%">
          </div>
          <div class="box-content padding">
              <div class="box-text">
                  <p>A Novos Elementos é uma agencia totalmente focada em Internet e marketing, atuamos na criação e desenvolvimento de aplicativos mobile, sites, portais, marcas e na gestão e monitoramento de conteúdo digital. Além do desenvolvimento de projetos, somos especializados em Redes Sociais e na indexação do conteúdo, tornando o seu website mais visível e bem colocado nos resultados orgânicos dos principais mecanismos de busca.</p>

                  <p>Dirigida por Celso Fortes, especialista em tecnologia e internet, profissional referência nos principais veículos de comunicação quando o assunto é mídia digital e social, a agencia Novos Elementos possui uma equipe de profissionais especializados em design, publicidade, programação e gestão de conteúdo. Com um livro e muitos trabalhos publicados, Celso foi capa da Revista Pequenas Empresas e Grandes Negócios como referencia em projetos na internet e por seu empreendedorismo.</p>

                  <p>Ao longo de 8 anos desenvolvemos mais de 850 projetos entre portais, sites, marcas e aplicativos mobile para empresas e profissionais nas diversas áreas.</p>

                  <p>Referência como agência digital de profissionais de saúde renomados de todo o Brasil, a Novos Elementos também é responsável por toda a gestão da Fan Page do Projeto Busca Saúde no Facebook, hoje com mais de 250 mil seguidores e do Projeto Beba Água referencia em sua categoria.</p>

                  <p>Nossos projetos estão disponíveis para visualização no nosso site:<br>
                  <a href="#" ng-click="Open('http://novoselementos.com.br')">www.novoselementos.com.br</a></p>

                  <p>Atendemos em todas as cidades do Brasil e nos EUA.</p>

                  <p>Solicite contato de um de nossos gerentes de atendimento:<br />
                  <a href="#" ng-click="Open('mailto:sac@novoselementos.com.br')">sac@novoselementos.com.br</a><br />
                  Tel: <a href="#" ng-click="Open('tel:0212124842000')">(21) 2484-2000</a></p>
              </div>
              <div class="titulo-port">
                  <h2>Outros Aplicativos</h2>
              </div>
              <div class="row box-portfolio">
                <div class="col col-50" >
                    <a  href="#" ng-click="Open('http://bebaagua.com/')">
                       <div class="img">
                            <img ng-src="img/app-beba-agua.png" style="width:100%">
                        </div>
                    </a>
                </div>
                <div class="col col-50" >
                    <a  href="#" ng-click="Open('http://chefairfryer.com.br/')">
                      <div class="img">
                          <img ng-src="img/app-chef.png" style="width:100%">
                      </div>
                    </a>
                </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
