<ion-view view-title="<img src='img/topo.png'>" id="sobre" class="internas">
  <ion-content>
      <div class="item-sobre" >
          <div class="box-image">
              <img ng-src="http://bastidor.com.br/vibesetal/content/{{items.sobre[0].sobre_image}}" style="width:100%">
          </div>
          <div class="box-content padding">
              <div class="box-text" ng-bind-html="items.sobre[0].sobre_text">
              </div>
              <div class="row box-portfolio">
                <div class="col col-50" ng-repeat="link in items.links">
                    <a  href="#" ng-click="Open('{{link.links_link}}')">
                      <div class="img">
                        <img ng-src="http://bastidor.com.br/vibesetal/content/{{link.links_image}}" style="width:100%" title="{{link.links_title}}">
                      </div>
                    </a>
                </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
