<ion-view view-title="<img src='img/topo.png'>">

	<ion-content id="time-line">
	<div ng-if="list.length == 0">Sem resultados para exibir.</div>
	<div class="list card" ng-repeat="item in list">

		<div class="item item-avatar">
	        <img ng-src="{{item.user_image}}">
	        <h2 class="pull-right post-pos">
				{{item.position + 1}}
	        </h2>
	        <h2>{{item.user_name}}</h2>
	        <p>{{item.time}}</p>

      	</div>

      	<div class="item item-body">
	        <video ng-if="item.post_type == 'video' " ng-src="{{item.post_file}}" class="centerme" controls="controls" style="width:100%"></video>
	        <img ng-if=" item.post_type == 'image' " ng-src="{{'http://bastidor.com.br/vibesetal/content/'+item.post_file}}" class='eduardinho' />
	        <div class="descricao padding" ng-bind-html="item.post_description"></div>
        </div>

	</div>

	</ion-content>


</ion-view>