<ion-view cache-view='false' view-title="<img src='img/topo.png'>" id="top-users">
  <ion-content has-boucing="false" lazy-scroll>
  	<div ng-if="list.length == 0">Sem resultados para exibir.</div>
	<div class="list" ng-repeat="item in list">

	    <div class="item item-avatar">
	      <img image-lazy-src="http://graph.facebook.com/{{item.user_slug}}/picture?width=40&height=40" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="100">
	      <h2>{{item.user_name}}</h2>
	      <p>
	      	<strong>
	      		<i class="fa fa-diamond"></i> Pontos: {{item.points}}
	      	</strong>
	      </p>
	    </div>
	</div>
  </ion-content>
</ion-view>