<ion-view cache-view='false' view-title="<img src='img/topo.png'>">
<!--
  <div class="bar bar-subheader" ng-if=" subheader!= ''">
    <progress max="100" value="{{uploadProgress}}"></progress>
  </div>
-->
  <ion-content id="time-line" ng-class=" {{ User.user_adm == 1 ? 'has-footer': '' }} {{subheader}}" lazy-scroll>
		<ion-refresher
	    pulling-text="Puxe para atualizar"
	    on-refresh="refresh()">
	  </ion-refresher>
      <ion-list>

        <ion-item class="list card" ng-repeat="item in list" id="post_{{ item.post_id }}">

          <div class="item item-avatar item-button-right">
	        <img image-lazy-src="{{item.user_image}}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="100">
	        <a class="button button-icon icon ion-ios-arrow-down btn-context" style="color:#886aea" ng-if="User.user_adm == 1" ng-click="options(item);"></a>
	        <h2>{{item.user_name}}</h2>
	        <p>{{item.post_time}}</p>
	      </div>
	      <div class="midia-post">
	      	<div ng-if="item.post_stamp != 0" style="position: absolute;right:15px;top: 90px;">
	      		<img ng-src="{{'http://bastidor.com.br/vibesetal/content/'+item.post_stamp}}" class='eduardinho' / >
	      	</div>
	        <img ng-if="item.post_type == 'video' " image-lazy-src="{{item.videoImage}}" class='eduardinho' ng-click="openVideoPlayer(item.post_file, item.post_id)" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="100" / >
	        <img ng-if=" item.post_type == 'image' " image-lazy-src="{{'http://bastidor.com.br/vibesetal/content/'+item.post_file}}" class='eduardinho' image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="100" />
	        <iframe ng-if="item.post_type == 'vimeo'" height="{{ item.post_height }}" ng-src="{{'https://player.vimeo.com/video/'+item.post_file+'?portrait=0&title=0&byline=0&badge=0'}}" class='eduardinho' frameborder="0" autoplay="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	      </div>

	      <div class="descricao padding" ng-bind-html="item.post_description">
	      </div>

	      <div class="row">
	        <div class="col col-33">
	           <button class="button button-block button-royal btn_like" ng-if="!item.liked" ng-click="likePost('{{item.post_id}}')">
	            <i class="fa fa-diamond"></i> <span>{{item.likes}}</span>
	           </button>
	           <button class="button button-block button-positive btn_like" ng-if="item.liked"><i class="fa fa-diamond"></i> {{item.likes}} </button>
	        </div>

	        <div class="col col-33">
	           <button class="button button-block button-royal btn_comment" ng-click="commentPost('{{item.post_id}}')">
	              <i class="fa fa-comment"></i> <span>{{item.comments}}</span>
	           </button>
	        </div>

	        <div class="col col-33">
	          <button class="button button-block button-royal btn_share" ng-click='share("{{item.post_description}}","http://bastidor.com.br/vibesetal/content/{{item.post_file}}", "{{item.post_id}}")'>
	            <i class="fa fa-share"></i> <span>{{item.share}}</span>
	          </button>
	        </div>

	      </div>
        </ion-item>

      </ion-list>

      <ion-infinite-scroll ng-if="noMoreItemsAvailable" immediate-check="false" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

    </ion-content>


    <div class="tabs tabs-icon-only tabs-background-royal" id="admTabAction" ng-if="User.user_adm == 1">
      <a class="tab-item" ng-click="getRoll()">
        <i class="icon ion-ios-photos"></i>
      </a>
      <a class="tab-item" ng-click="captureImage()">
        <i class="icon ion-ios-camera"></i>
      </a>
      <a class="tab-item" ng-click="captureVideo()">
        <i class="icon ion-ios-videocam"></i>
      </a>
      <a class="tab-item" ng-click="getVidRoll()">
        <i class="icon ion-ios-film"></i>
      </a>
    </div>
</ion-view>
