@font-face {
font-family: 'Visby';
	src: url(‘../fonts/VisbyCF-Medium.otf’);
	font-weight: normal;
}

@font-face {
    font-family: 'Visby';
    src: url(../fonts/VisbyCF-Bold.otf);
    font-weight: bold;
}

h1, h2, h3, p, a {
	font-family: 'Visby';
}

.item-radio input:checked + .radio-content .item-content {
/* style the item content when its checked */
background: #f7f7f7;

}

.item-radio input:checked + .radio-content .radio-icon {
/* show the checkmark icon when its checked */
visibility: visible;
}





.item-avatar .image-loader-container {
  margin: 9px;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 7.5px;
  position: absolute;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.midia-post .image-loader-container {
  margin: 9px;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 7.5px;
  position: absolute;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}


/********  HOME  ********/
#time-line{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#time-line .bar-vibe{
	background: transparent;
}
#time-line .bar button{
	color:#892566;
}

#time-line .item{
	border-width: 0;
	padding-right: 0px;
	background: transparent;
}

#time-line .descricao{
	white-space: normal;
}

#time-line .item-avatar{
	min-height: 50px;
	padding-left:60px;
	background: transparent;
}

#time-line .foto-icon{
	padding: 5px 16px 5px 50px;
}

#time-line .btn-context{
	right: 20px;
	min-width: 18px;
	padding: 5px 0;
	font-size: 24px;
}
#time-line .btn-context:before{
    font-size: 24px;
    font-weight: bold;
}

#time-line .list .row button{
	margin: 0px;
}

#time-line .button-positive{
	background: rgba(133, 36, 103, 0.3);
	border-color: #852467;
	color: #852467;
}

#time-line .button-royal{
	border-color: #892566;
	background: transparent;
    color: #892566;
}

/********  Login  ********/

#newLogin .col .sendLogin{
	border-color: #892566;
	background: transparent;
    color: #892566;
}
#newLogin .col .newLogin{
	border-color: #892566;
	background: #892566;
    color: #ffffff;
}
#cadUser .col .cadSend{
	border-color: #892566;
	background: #892566;
    color: #ffffff;
}
#forgetPassword .col .forgetSend{
	border-color: #892566;
	background: #892566;
    color: #ffffff;
}

/*  Botão de foto  */

.fotografar{
	background-color: rgba(0, 0, 0, 0);
	height: 100px;
}
.fotografar .icon{
	color: #fff;
	font-size: 55px;
}
.fotografar div{
	background-color: rgba(0, 0, 0, 0.7);
	width: 80px;
	height: 80px;
	padding-top: 10px;
	border-radius:50%;
}
.fotografar div:active{
	background-color: rgba(0, 0, 0, 0.9);
}

/*  Tela de postar midia  */

#photo{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}
#photo .bar-vibe{
	background: transparent;
}
#photo .item{
	background: transparent;
}
#photo .card{
	box-shadow: none
}
#photo .button-royal{
	box-shadow: none;
	background: transparent;
	border-color: #892566;
	color:#892566;
}
#photo .button-royal:hover, #photo .button-royal:active, #photo .button-royal:visited, #photo .button-royal:focus{
	box-shadow: none;
	background: #892566;
	border-color: #892566;
	color:#ffffff;
}

/* Login direito*/
.login-avatar{
	max-height: 50px;
	max-width: 70px;
	padding: 0px 5px 15px 30px
}
.login-avatar img{
	border-radius:50%;
}

#admTabAction{
	background: #892566;
	border-color: #892566;
	color:#fff;
}
#admTabAction a.tab-item{
	opacity: 1;
}


/********  LOGIN  ********/

ion-modal-view#login{
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0
}

#login{
	background: #fff;
}

#login .bar-vibe{
	height: 70px;
}

#login .bar-vibe .title, #login .bar-vibe .button{
	margin-top: 20px;
}
ion-modal-view#login ion-content#login {
	padding-top: 30px;
}
#login .list-inset{
	background-color: transparent;
	border: 0;
}
#login .campo{
	border: 1px solid rgba(255, 255, 255, 0.3);;
	background: rgba(0, 0, 0, 0.7);
	margin: 10px 10px;
	border-radius: 5px;
}

#login textarea, input[type="text"], input[type="password"],input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],input[type="search"], input[type="tel"], input[type="color"]{
	color: #000;
}

#login .botao{
	margin: 0;
	padding: 0
}
#login .botao .item{
	padding: 0 10px;
}
#login .cadastro{
	margin: 30px 10px 0;
	padding-top: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);;
}
#login .bar{
	background-color: #EAEAEA;
}
#login .bar h1{
	color: #000;
}

#login .bar-vibe{
	background: transparent;
}

#login .card, #login .list{
	margin: 0px;
}

#login .item-body p{
	margin-top:0px;
}
#login .item-input-inset input{
	color:#0D0D0D;
	background:#fff;
}
#login .item-input-inset label{
	background:#fff;
}

#login ion-footer-bar.bar-assertive{
	padding: 0px;
}
#login ion-footer-bar.bar-assertive button{
	margin: 0px;
	font-size: 16px;
	font-weight: bold;
	min-height: 40px;
}

.n-diamantes-p {
	padding-top: 50px;
}

#login .bar-vibe button{
	background: transparent;
	border: 0;
	color:#892566;
	font-size: 36px;
}

#login .img-perfil {
	border-radius:50%;
	width: 150px;
}

h2.branco, h3.branco {
	color: #000;
}

.logo-ne {
	margin-top: 40px;
}

ion-content#login{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}
ion-content#login .logo-vibes{
	text-align: center;
}
ion-content#login .logo-vibes img{
	width: 100%;
	text-align: center
}
ion-content#login .vibes-login{
	color: #a5a5a5;
	text-align: center;
    /*position: absolute;*/
    /*bottom: 0px;*/
}
ion-content#login .scroll{
	height: 100%;
}
ion-content#login .vibes-login button{
	background: #3b5998;
	border-color: #3b5998;
	opacity: 1;
}
.logo-ne img {
	max-width: 210px;
}

/********  CAMERA ********/
#foto{
	background: #222;
}

/*  controle footer  */
.controle-camera{
	background: #222;
	height: 100px;
}
#foto .tabs{
	color: #fff;
}
.icon-small .icon{
	margin-top: 15px;
	font-size: 40px !important;
}
.icon-destaque .icon{
	font-size: 60px !important;
	margin-top: 7px;
}
.icon-destaque{
	border: 2px solid #fff;
	border-radius:50%;
	max-height: 80px;
	max-width: 80px;
}

/*  controle header  */
.controle-header{
	position: absolute;
	top: 0;
	padding: 5px 15px;
	font-size: 40px;
	color: #fff;
}
.controle-header i{
	text-shadow: 1px 1px 1px #999;
}
.f-right{
	right:0;
}
.f-right i{
	padding-right: 10px;
}

/********  PBLICAR  ********/

#postar .item{
	padding: 0;
}
#postar .card .item.item-input textarea{
	padding: 10px 15px;
}
#postar a{
	text-decoration: none;
	color: #fff;
	text-align: center;
}

/******* Lista postagens ******/

.post-pos{
	padding: 5px 10px;
	background: #892566;
	border-radius: 50%;
	color:#fff;
}

.card .item {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.card .item:last-child {
	margin-bottom: 0;
}

/******* Open post top 10 ******/

#open_post{
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

/*#open_post .bar-vibe{
	background: #ad2b61;
	background: -moz-linear-gradient(top,  #ad2b61 0%, #822467 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad2b61), color-stop(100%,#822467));
	background: -webkit-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: -o-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: -ms-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: linear-gradient(to bottom,  #ad2b61 0%,#822467 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad2b61', endColorstr='#822467',GradientType=0 );

}*/

#open_post .bar-vibe{
	background: transparent;
}

#open_post .bar-vibe{
	height: 70px;
}
#open_post .bar-vibe .title, #open_post .bar-vibe .button{
	margin-top: 20px;
}
#open_post ion-content {
	padding-top: 0px;
}
#open_post .bar-vibe button{
	background: transparent;
	border: 0;
	color:#892566;
	font-size: 36px;
}

#open_post .item-avatar{
	border-top: none;
	background: transparent;
}

#open_post .list .row button{
	margin: 0px;
}


/******* Lista comentarios ******/
#comment-desc .list{
	padding-top:0px;
	border-top: 0px;
	padding-right:0px;
	background: transparent;
}
#comment-desc .list p{
	white-space: normal;
}
#comment-desc .list .item-avatar{
	border-bottom: none;
	border-right: none;
	border-top: none;
	padding-right:10px;
	padding-left:60px;
	background: transparent;
}
#comment-desc .list:first-child .item-body{
	padding-left:60px;
	padding-top:0px;
	background: transparent;
}

/********* Brothers ********/

#brothers{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#brothers .bar-vibe{
	background: transparent;
}

#brothers .list{
	margin-bottom: 0px;
}

#brothers .item{
	border-bottom: 0px;
	border-color:#eeeeee;
	background: transparent;
}

#brothers .list .item h2{
	padding-top: 10px;
	font-size: 16px
}

/********* QrCode ********/

#code{
	color:#000;
}

#code .img-perfil{
	border-radius: 50%;
}

/********* Enquete ********/

#enquete{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#enquete .bar-vibe{
	background: transparent;
}

#enquete .item-avatar{
	min-height: 50px;
	padding-left:60px;
}
#enquete .item{
	border-width: 0;
	padding-right: 0px;
}
#enquete .midia-post h4{
	padding-left: 15px;
}

#enquete .enq-selected{
	background: #f7f7f7;
}

/********* Brother swipe ********/
#brothersPage{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#brothersPage .bar-vibe{
	background: transparent;
}

#brothersPage .bar{
	background: transparent;
	border-top:none;
}
#brothersPage .item-avatar{
	min-height: 50px;
	padding-left:60px;
}

#brothersPage .list{
	padding-right:0px;
}

#brothersPage .no-post-title{
	padding-top:20px;
	text-align: center
}

#brothersPage .bar{
	height: 55px;
	padding: 0px 5px;
}
#brothersPage .bar button{
	margin-top: 0px;
	margin-bottom: 0px;
}

#brothersPage .button-positive{
	background: rgba(133, 36, 103, 0.3);
	border-color: #852467;
	color: #852467;
}

#brothersPage .button-royal{
	border-color: #892566;
	background: transparent;
    color: #892566;
}

.brotherPop .button-royal{
	border-color: #892566;
	background: transparent;
    color: #892566;
}

.brotherPop .button-royal:hover, .brotherPop .button-royal:active, .brotherPop .button-royal:visited, .brotherPop .button-royal:focus{
	border-color: #892566;
	background: #892566;
    color: #ffffff;
}

.brotherPop .popup-body{
	text-align: center
}

/********* Sobre ********/

#sobre .box-image{
	padding: 10px;
}

/********* Top Posts ********/

#top-posts{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#top-posts .bar-vibe{
	background: transparent;
}

#top-posts .list{
	margin-bottom: 0px;
}
#top-posts .item{
	border-bottom:none;
	border-color:#eeeeee;
	background: transparent;
}

/********* Top Users ********/

#top-users{
	background: url("../img/bg-vt.jpg") center;
	background-size: cover;
}

#top-users .bar-vibe{
	background: transparent;
}

#top-users .list{
	margin-bottom: 0px;
}
#top-users .item{
	border-bottom:none;
	border-color:#eeeeee;
	background: transparent;
}

/******* EDUARDINHO ~ revisar ******/

.right{
	position: absolute;
	right:0;
	bottom: 0px;
}

.left{
	position: absolute ;
	left:0 ;
	bottom: 0px;
}

.footer-home .button{
	padding: 5px 8px;
	opacity: 1;
	background: #892566;
	border-color: #892566;
}
.footer-home .tabs{
	padding-top:0px;
}

.principal-btn{
	width: 75px;
	height: 75px;
}
.home-btns{
	border-radius: 50%;
}

.eduardinho{
	width: 100%;
}

.bar.bar-stable{
	background: transparent;
}
/*
.bar.bar-stable{
	background: #ad2b61;
	background: -moz-linear-gradient(top,  #ad2b61 0%, #822467 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad2b61), color-stop(100%,#822467));
	background: -webkit-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: -o-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: -ms-linear-gradient(top,  #ad2b61 0%,#822467 100%);
	background: linear-gradient(to bottom,  #ad2b61 0%,#822467 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad2b61', endColorstr='#822467',GradientType=0 );
}*/

.header-item img{
	height:80%;
}

.sec-btn{
	width:50px;
	height: 50px;
}

#open-menu{
	color:#892566;
}

#tab-menu {
	background: #000;
}

#tab-menu .bar-header {
	border-bottom: 0;
}

 #tab-menu .title{
 	color:#892566;
	background: #000;
 }

 #tab-menu .list .item:first-child{
 	text-align: center;
 	border-top: 0;
 }
 #tab-menu .list .item{
 	color:#fff;
 	background-color: #000;
 	border-top: 1px solid #333;
 	border-bottom: 1px solid #333;
 }
 #tab-menu .item-content{
 	color:#892566;
 	background: #000;
 }
 #tab-menu img{
 	width: 100%;
 }
 #tab-menu .active a{
 	background: #ad2b61; /* Old browsers */
	background: -moz-linear-gradient(top,  #ad2b61 0%, #822467 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad2b61), color-stop(100%,#822467)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ad2b61 0%,#822467 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ad2b61 0%,#822467 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ad2b61 0%,#822467 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ad2b61 0%,#822467 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad2b61', endColorstr='#822467',GradientType=0 ); /* IE6-9 */
	border: #ad2b61;
	color:#fff;
 }

 .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
 	position: absolute;
    top: 16px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
 }








































